<div class="row">
  <div class="container">
    <div class="modal-form-holder">

      <div class="row">
        <div class="col-md-3" style="text-align: center;">
          <button class="btn btn-warning" id="modal-close-button">Close Information Panel</button>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-3" style="text-align: center;">
          <% if(corporate.attributes.profile_image){ %>
            <img id="corporate-avatar" src=<%= String(corporate.attributes.profile_image) %> alt="?" />
          <% }else{ %>
            <img id="corporate-avatar" src="https://s3.amazonaws.com/ripe-assets/images/default_corporate_avatar.png" alt="?" />
          <% }%>
        </div>

        <div class="col-md-9">
          <h2 style="text-align: center;"><%= corporate.attributes.corporate_name %></h2>
          <p><%= corporate.attributes.description %></p>
        </div>

      </div>

      <hr>

      <div class="row">
        <div class="col-md-6" style="text-align: center;">
          <div style="height: 250px; width: 500px; padding-left: 20px;">
            <div id="google-map" style="height: 100%; width: 100%;"></div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <span style="font-weight: bold">Contact Number</span>
            </div>
            <div class="col-md-8">
              <% if(corporate.attributes.corporate_contact){ %>
                <p><%= corporate.attributes.corporate_contact %></p>
              <% }else{ %>
                <p>This corporate hasn't added a contact.</p>
              <% } %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <span style="font-weight: bold">Street Address One</span>
            </div>
            <div class="col-md-8">
              <p><%= corporateAddresses[0].street_one %></p>
            </div>
          </div>

          <% if(corporateAddresses[0].street_two){ %>
            <div class="row">
              <div class="col-md-4">
                <span style="font-weight: bold">Street Address Two</span>
              </div>
              <div class="col-md-8">
                <p><%= corporateAddresses[0].street_two %></p>
              </div>
            </div>
          <% } %>

          <div class="row">
            <div class="col-md-4">
              <span style="font-weight: bold">City</span>
            </div>
            <div class="col-md-8">
              <p><%= corporateAddresses[0].city %></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <span style="font-weight: bold">State</span>
            </div>
            <div class="col-md-8">
              <p><%= corporateAddresses[0].state %></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <span style="font-weight: bold">Zip Code</span>
            </div>
            <div class="col-md-8">
              <p><%= corporateAddresses[0].zip_code %></p>
            </div>
          </div>



        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-3" style="text-align:center;">
          <h3>Menu Summary</h3>
        </div>
      </div>
      <hr>

      <% var menuItems = corporate.menuItems(); %>
      <% var defaultImage = corporate.attributes.profile_image %>
      <div class="row">
        <div class="col-md-12">

          <div class="list-group" id="menu-summary-list">
            <% _.each(menuItems.last(menuItems.length).reverse(), function(item){ %>

              <div class="list-group-item" style="padding-top: 20px; padding-bottom: 20px;">
                <div class="row">
                  <div class="col-md-3" style="text-align: center; padding-top: 20px;">
                    <% if(item.attributes.item_image){ %>
                      <img class="summary-menu-item-image" src=<%= String(item.attributes.item_image) %> alt="?" />
                    <% }else if(defaultImage){ %>
                      <img class="summary-menu-item-image" src=<%= defaultImage %> alt="?" />
                    <% }else{ %>
                      <img class="summary-menu-item-image" src="https://s3.amazonaws.com/ripe-assets/images/default_corporate_avatar.png" alt="?" />
                    <% }%>
                  </div>

                  <div class="col-md-6">
                    <h5><%= item.attributes.item_name %></h5>
                    <p><%= item.attributes.description %></p>
                  </div>

                  <div class="col-md-3">
                    <% var price; %>
                    <% if(item.attributes.price){ %>
                        <% price = item.attributes.price; %>
                    <% }else{ %>
                        <% price = item.attributes.original_price %>
                    <% } %>

                    <h5>Original Price: <span style="font-weight: normal;">$<%= price/100 %></span></h5>
                  </div>
                </div>
              </div>
            <% }); %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<% console.log(latitude); %>
<% console.log(longitude); %>

<script type="text/javascript">
  var map;
  var position = new google.maps.LatLng(<%= latitude %>, <%= longitude %>);
  function showMap() {
    map = new google.maps.Map(document.getElementById('google-map'), {
      center: position,
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var marker = new google.maps.Marker({
      position: position,
      map: map,
      title: "<%= corporate.attributes.corporate_name %>"
    });
  };
  showMap();
</script>
