<% var corporateAddress = corporate.address().attributes %>
<div class="container">
  <div class="row" id="corporate-information-row">
    <div class="col-md-4" style="text-align: center; padding-top: 30px;">
      <div id="corporate-avatar-holder">
        <% if(corporate.attributes.profile_image){ %>
          <img id="corporate-avatar" src=<%= String(corporate.attributes.profile_image) %> alt="?" />
        <% }else{ %>
          <img id="corporate-avatar" src="https://s3.amazonaws.com/ripe-assets/images/default_corporate_avatar.png" alt="?" />
        <% }%>
      </div>
      <button class="btn btn-info" id="change-corporate-avatar">Change Profile Picture</button>
      <!-- <input type="datetime-local"> -->
    </div>

    <div id="corporate-account-information-main" class="col-md-8">
      <h2><%= corporate.attributes.corporate_name %></h2>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <span style="font-weight: bold">Description</span>
        </div>
        <div class="col-md-8">
          <% if(corporate.attributes.description){ %>
            <p><%= corporate.attributes.description %></p>
          <% }else{ %>
            <p>You haven't added a description.</p>
          <% } %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <span style="font-weight: bold; margin-bottom: 10px;">Rating</span>
        </div>

        <% if(corporate.ratings().length < 1){ %>
          <div class="col-md-8"><p>No ratings yet</p></div>
        <% }else{ %>
          <div class="col-md-8"><p><%= corporate.ratings().average() %> out of 5</p></div>
        <% } %>
      </div>

      <div class="row">
        <div class="col-md-4">
          <span style="font-weight: bold">Email</span>
        </div>
        <div class="col-md-8"><p><%= corporate.attributes.email %></p></div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <span style="font-weight: bold">Contact</span>
        </div>
        <div class="col-md-8">
          <% if(corporate.attributes.corporate_contact){ %>
            <p><%= corporate.attributes.corporate_contact %></p>
          <% }else{ %>
            <p>You haven't added a phone number.</p>
          <% } %>
        </div>
      </div>

      <div class="row">
          <button class="btn btn-info" id="change-corporate-description">Change Your Description</button>
          <button class="btn btn-info" id="change-corporate-contact">Change Contact Number</button>
          <% if(corporateAddress.zip_code){ %>
            <button class="btn btn-info" id="corporate-change-address">Change Address</button>
          <% }else{ %>
            <button class="btn btn-info" id="corporate-add-address">Add an Address</button>
          <% } %>
      </div>
    </div>

  </div>

  <hr>

  <div class="row" id="corporate-stats-row">
    <div class="col-md-3">
      <p class="stats-chat">Items on Menu</p>
      <p> <%= corporate.menuItems().length %>
    </div>

    <div class="col-md-3">
      <p class="stats-chat">Active Deals</p>
      <p> <%= corporate.activeDeals().length %></p>
    </div>

    <div class="col-md-3">
      <p class="stats-chat">Past Deals</p>
      <p> <%= corporate.expiredDeals().length %></p>
    </div>

    <div class="col-md-3">
      <p class="stats-chat">Sold</p>
      <p> <%= corporate.transactions().length %></p>
    </div>
  </div>

  <hr>

  <div class="row" id="corproate-address-row">

    <div class="col-md-4">

    </div>

    <div class="col-md-8" id="address-display-col">
      <% if(corporateAddress.zip_code){ %>

      <div class="row">
        <div class="col-md-4">
          <span style="font-weight: bold">Street Address One</span>
        </div>
        <div class="col-md-8">
          <p><%= corporateAddress.street_one %></p>
        </div>
      </div>

      <% if(corporateAddress.street_two){ %>
        <div class="row">
          <div class="col-md-4">
            <span style="font-weight: bold">Street Address Two</span>
          </div>
          <div class="col-md-8">
            <p><%= corporateAddress.street_two %></p>
          </div>
        </div>
      <% } %>

      <div class="row">
        <div class="col-md-4">
          <span style="font-weight: bold">City</span>
        </div>
        <div class="col-md-8">
          <p><%= corporateAddress.city %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <span style="font-weight: bold">State</span>
        </div>
        <div class="col-md-8">
          <p><%= corporateAddress.state.split("+").join(" ") %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <span style="font-weight: bold">Zip Code</span>
        </div>
        <div class="col-md-8">
          <p><%= corporateAddress.zip_code %></p>
        </div>
      </div>

      <% }else{ %>
        <h4>You haven't added an address yet.</h4>
      <% } %>
    </div>
  </div>
</div>

<script type="text/javascript">
(function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v2/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);
</script>
