<div class="container">
  <br>

  <div class="list-group-item">
    <% if(user.transactions().length == 1){ %>
      <h3>You have a total of <%= user.transactions().length %> transaction.</h3>
    <% }else{ %>
      <h3>You have a total of <%= user.transactions().length %> transactions.</h3>
    <% } %>
  </div>

  <hr>

  <div>
    <% var transactions = user.transactions() %>

    <% _.each(transactions.last(transactions.length).reverse(), function(transaction){ %>
      <div class="list-group-item user-transaction-list-item">
        <div class="row">
          <div class="col-md-3" style="font-weight: bold; font-size: 24px;">
            <% var timeString = transaction.attributes.created_at %>
            <% timeString = timeString.split("T")[0].split("-"); %>
            <% timeString.push(timeString[0]); %>
            <% timeString = timeString.slice(1).join("/") %>
            <%= timeString %>
          </div>

          <div class="col-md-9">
            <% if(transaction.attributes.deals.length > 0){ %>
              <% transaction.attributes.deals.forEach(function(deal){ %>
                <div class="row" style="font-size: 24px;">
                  You bought <%= deal.corporate_name %>'s <%= deal.deal_title %> for $<%= deal.price/100 %>
                </div>
              <% }) %>
            <% }else{ %>
                <div class="row">
                  <h4>All purchases in this transaction have been refunded.</h4>
                </div>
            <% } %>
          </div>
        </div>
      </div>
    <% }) %>


  </div>


</div>
