<div class="container">
  <br>

  <div class="list-group-item">
    <h3>You have a total of <%= user.transactions().length %> transactions.</h3>
  </div>

  <hr>

  <div>
    <% var transactions = user.transactions() %>

    <% _.each(transactions.last(transactions.length).reverse(), function(transaction){ %>
      <div class="list-group-item user-transaction-list-item">
        <div class="row">
          <div class="col-md-3">
            <% var timeString = transaction.attributes.created_at %>
            <% timeString = timeString.split("T")[0].split("-").join("/") %>
            <h3><%= timeString %></h3>
          </div>

          <div class="col-md-9">
            <% if(transaction.attributes.deals.length > 0){ %>
              <% transaction.attributes.deals.forEach(function(deal){ %>
                <div class="row">
                  <h4>You bought <span class="information-span"><%= deal.corporate_name %></span>'s <span class="information-span"><%= deal.deal_title %></span> for <span class="information-span">$<%= deal.price/100 %></span></h4>
                </div>
              <% }) %>
            <% }else{ %>
                <div class="row">
                  <h4>All purchases in this transaction has been refunded.</h4>
                </div>
            <% } %>
          </div>
        </div>
      </div>
    <% }) %>


  </div>


</div>
